@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This is a demo site for part 1 of a tutorial series going in-depth on the authentication and authorization systems of 
    ASP.net Core 2.0.</p>
