@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h2>Authentication</h2>
        <p>Authentication is the act of verifying a person's identity. It has very little to do with determining what they have access to,
            but it is a prerequisite to Authorization.</p>
        <p>You <em>authenticate</em> by logging into a web application. The process of logging in and verifying your identity can be done by
            typing a password, providing a secure token key, or some other information to verify you are who you say you are.</p>
        <p>Showing someone else your driver's license is a way to <em>authenticate</em> yourself to them. You are proving your identity.</p>
    </div>
    <div class="col-md-6">
        <h2>Authorization</h2>
        <p>Authorization is the act of determining what a person has access to. It is how private sections of web applications are secured
            against unauthorized users.</p>
        <p>A web application may <em>authorize</em> you to access a certain page by checking your <em>identity</em> (which was verified in
            the authentication step) against a list to see if you're allowed to see the page.</p>
        <p>A club bouncer may check a list to see if your identity is on it in order to <em>authorize</em> your entry into the club.</p>
    </div>

</div>
